{% extends 'base.html' %}

{% block title %}Password Change{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0">Change Your Password</h5>
            </div>
    
            <div class="card-body d-flex justify-content-center">
                <div class="alert alert-info p-4 text-center" style="max-width: 80%;">
                    <h5 class="alert-heading">Notice:</h5>
                    <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
                </div>
            </div>       

            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-success" type="submit">Change My Password</button>
                </form>
            </div>
        </div>
    </div>
    
{% endblock content %}